[Desktop Entry]
Type=Application
Name=Background Auto Clicker
Comment=A background auto clicker with GUI
Exec=pkexec bgclicker-gui
Icon=BackgroundAutoClicker.svg
Terminal=false
NoDisplay=false
Categories=Utility;
