[Desktop Entry]
Type=Application
Name=Background Auto Clicker
Comment=A background auto clicker with GUI
Exec=sudo bgclicker-git
Icon=bgclicker-git.svg
Terminal=false
Categories=Utility;
